name: Testing repo
on: [push, pull_request]

jobs:
        bananas:
                name: 'Checkout'
                runs-on: ubuntu-latest
                steps:
                        - name: 'Checkout'
                          uses: actions/checkout@v3
                          with:
                                  ref: ${GITHUB_REF#refs/heads/}

                        - name: 'Print Something'
                          run: |
                                echo $(cat derd.txt)
                                echo ${GITHUB_REF#refs/heads/}

