name: Testing repo
on: [push, pull_request]

env:
        WRKDIR: "/home/runner/work/test/test/deps"

jobs:
        bananas:
                name: 'Checkout'
                runs-on: ubuntu-latest
                steps:
                        - name: 'Checkout'
                          uses: actions/checkout@v3
                          with:
                                ref: main

                        - name: 'Print Something'
                          run: |
                                echo $(cat derd.txt)
                                echo $GITHUB_REF_NAME
                                echo ${GITHUB_REF#refs/heads/User1935/}

                        - name: 'Install Dependencies'
                          run: |
                                sudo apt-get install unzip
                                mkdir $WRKDIR

                        - name: 'Install Pre-Commit'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: pip3 install --no-cache-dir pre-commit

                        - name: 'Install Checkov'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: pip3 install --no-cache-dir checkov 

                        - name: 'Install TerraDocs'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: |
                                curl -L "$(curl -s "https://api.github.com/repos/terraform-docs/terraform-docs/releases"/latest | grep -o -E -m 1 "https://.+?-linux-amd64.tar.gz")" > terraform-docs.tgz \
                                && tar -xzf terraform-docs.tgz terraform-docs && rm terraform-docs.tgz && chmod +x terraform-docs

                        
                        - name: 'Install TerraGrunt'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: |
                                curl -L "$(curl -s "https://api.github.com/repos/gruntwork-io/terragrunt/releases/latest" | grep -o -E -m 1 "https://.+?/terragrunt_linux_amd64")" > terragrunt \
                                && chmod +x terragrunt

                        - name: 'Install TerraScan'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: |
                                curl -L "$(curl -s "https://api.github.com/repos/accurics/terrascan/releases/latest" | grep -o -E -m 1 "https://.+?_Linux_x86_64.tar.gz")" > terrascan.tar.gz \
                                && tar -xzf terrascan.tar.gz terrascan && rm terrascan.tar.gz \
                                && ./terrascan init

                        - name: 'Install TerraformLint'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: |
                                curl -L "$(curl -s "https://api.github.com/repos/terraform-linters/tflint/releases/latest" | grep -o -E -m 1 "https://.+?_linux_amd64.zip")" > tflint.zip \
                                && unzip tflint.zip && rm tflint.zip


                        - name: 'Install TFSec'
                          working-directory: $WRKDIR
                          continue-on-error: true
                          run: |
                                curl -L "$(curl -s "https://api.github.com/repos/aquasecurity/tfsec/releases/latest" | grep -o -E -m 1 "https://.+?/tfsec-linux-amd64")" > tfsec \
                                && chmod +x tfsec
                        
                                                
                        - name: 'Add to PATH'
                          working-directory: $WRKDIR
                          run: |
                                echo "$WRKDIR" >> $GITHUB_PATH \
                                #export PATH="${PATH}:${{ github.workspace }}/$WRKDIR/terraform-docs"
                                echo "$PATH"
                                echo $(ls)

                        - name: 'Pre-Commit'
                          run: pre-commit run --all-files